footer {
    margin: 20px 10px;

    .bdr {
        border: 1px solid #000;
        text-align: center;
        padding: 1.5rem 0;

        h5 {
            margin: 0;
            font-weight: 600;
        }
    }
}