#photo_gallery {
    .list {
        .list_pg {
            margin: 20px 10px;
            padding: 0;
            text-align: center;

            .thumbnail {
                height: 200px;
                display: block;
                line-height: 1.42857143;
                background-color: $w;
                border: 1px solid #000;
                -webkit-transition: border .2s ease-in-out;
                -o-transition: border .2s ease-in-out;
                transition: border .2s ease-in-out;
            }

            .star {
                margin: 0.5rem 0;
            }
        }        
    }
    
}